<%- include("./partials/header") -%>

<header>
    <h1>OAuth2 Test</h1>
    <h2>Homepage</h2>
</header>
<main>
    <p>Testing OAuth2 to implement in the future.</p>
</main>

<%- include("./partials/footer") -%>
