<%- include("./partials/header") -%>

<header>
    <h1>Login using...</h1>
</header>
<main>
    <a class="google-btn" href="/auth/google">Google+</a>
    <a href="/auth/facebook">Login with Facebook</a>
</main>

<%- include("./partials/footer") -%>